@font-face {
    font-family: "Amatic SC", serif;
    src: url(../fonts/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: "Handlee", serif;
    src: url(../fonts/Handlee-Regular.ttf);
}